<div class="row">
    <div class="col-md-9">
		<section>
		<h1><span class="label label-info">Contests </h1>
		<div class="well">
		<h3>What you got today ? </h3>
        <p>Tell us what you learn today apart from your academics.
		<button type="button" class="btn btn-sm btn-success">Participate</button>
		</p>
        </div>
		<div class="well">
		<h3>What so special about you? </h3>
        <p>Tell us about your skills.</p>
        </div>
		</section>
	</div>	
    <div class="col-md-3">
		<div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
        </div>
		<div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Panel info title</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
        </div>
	</div>
</div>

